<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  
  {% include head.html %}
  
  <body>
    {% include navbar.html %}
    
    <div class="intro-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-message">
              <h1>Earmuffs</h1>
              <h3>Adult Content Blocker</h3>
              <hr class="intro-divider">
              <ul class="list-inline intro-social-buttons">
                <li><a href="https://itunes.apple.com/us/app/earmuffs-adult-content-blocker/id1041175774" class="btn btn-default btn-lg"><i class="fa fa-apple fa-fw"></i> <span class="network-name">Available on the App Store</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    
    
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Protect Your Kids with Earmuffs</h2>
            
            <p class="lead">
            Your kids are only a couple clicks away from a very awkward conversation
            that neither of your may be ready for yet.  Protect them with Earmuffs!!
            <br/><br/>
            Earmuffs it's an adult content blocker designed to protect kids on the
            Internet.  Once installed, it prevents them from accessing adult content
            using iOS9s new content blocking ability.
            
            </p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="{{ site.baseurl }}public/images/1.png" alt="">
              </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    
    <div class="content-section-b">
      
      <div class="container">
        
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Works Seamlessly with Safari</h2>
            <p class="lead">
            Earmuffs works seamlessly with Safari's content blocking
            advancements in iOS9.  A database of sites, phrases and
            words are evaluated before Safari loads a webpage.  If
            the site matches the database, Safari will block the
            site from loading.
            </p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <img class="img-responsive" src="{{ site.baseurl }}public/images/safari-actions.png" alt="">
              </div>
        </div>
        
      </div>
      <!-- /.container -->
      
    </div>
    <!-- /.content-section-b -->
    
    <div class="content-section-a">
      
      <div class="container">
        
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Customization</h2>
            <p class="lead">
            Every family is different and only they can decide what
            content is appropriate for their household.  You can customize
            Earmuffs to match your family's values through the use of a
            whitelist and blacklist, putting parents completely in control of
            what their children see online. Easily add sites to your custom
            lists while browsing using Safari extensions.
            </p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="{{ site.baseurl }}public/images/custom-list.png" alt="">
              </div>
        </div>
        
      </div>
      <!-- /.container -->
      
    </div>
    <!-- /.content-section-a -->
    
    
    
    <div class="content-section-b">
      
      <div class="container">
        
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Advanced Settings</h2>
            <p class="lead">
            Many social media sites allow adult content.  Using advanced settings
            parents can decide which social media sites can be accessed through
            Safari.  Please note that access to these sites is only restricted
            through the Safari browser.  They will still be accessible through
            dedicated applications.  If your intent is to completely restrict
            access to these sites, consider removing the apps.
            </p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <img class="img-responsive" src="{{ site.baseurl }}public/images/social-media.png" alt="">
              </div>
        </div>
        
      </div>
      <!-- /.container -->
      
    </div>
    <!-- /.content-section-b -->
    
    
    
    
    
    
    
    
    
    <!--
     
     <div class="banner">
     
     <div class="container">
     
     <div class="row">
     <div class="col-lg-6">
     <h2>Connect to Start Bootstrap:</h2>
     </div>
     <div class="col-lg-6">
     <ul class="list-inline banner-social-buttons">
     <li><a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
     </li>
     <li><a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
     </li>
     <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
     </li>
     </ul>
     </div>
     </div>
     
     </div>
     -->
    <!-- /.container -->
    
    <!-- </div> -->
    <!-- /.banner -->
    
    {% include footer.html %}
  </body>
</html>
