<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  
  {% include head.html %}
  
  <body>
    {% if page.navbar %}
    {% include navbar.html %}
    {% endif %}
    
    <div class="banner">
      <div class="container">
        <div class="row">
          <h2>{{page.title}}</h2>
        </div>
      </div>
    </div>
    






<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <h2 class="section-heading">Enable Content Blockers in iOS</h2>
        <p class="lead">
        Content blocking is a new system level feature in iOS 9.  Content blockers
        works directly with the Safari browser, but need to be enabled before
        they can be used.
        
        <ol>
          <li>Navigate to your device's Settings app.  The Settings app icon shows an arrangement of gray gears.</li>
          <li>Tap on "Safari" in the settings list.</li>
        </ol>
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="{{ site.baseurl }}public/images/install0.png" alt="">
          </div>
    </div>
    
  </div>
  <!-- /.container -->
  
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <h2 class="section-heading">Install Earmuffs</h2>
        <p class="lead">
        <ol>
          <li>Tap on "Content" Blockers inside Safair settings.</li>
          <li>Enable Earmuffs by toggling the switch to "On".  The green background
            on the switch indicates that it is on.</li>
        </ol>
        Safari content blockers are not exclusive.  You can use mutliple
        content blockers at the same time.
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="{{ site.baseurl }}public/images/install1.png" alt="">
          </div>
    </div>
  </div>
  <!-- /.container -->
  
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
  
  <div class="container">
    
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <h2 class="section-heading">How Do I Know When A Content Blocker is Working</h2>
        <p class="lead">
        When a content blocker is working, Safari will not load the site.  You
        will see a blank page in the Safari browser.
        </p>
        In the example, we are using the blacklist to block websites with the
        term "cats" in the site name.  In the top screenshot, the search term
        "cats" shows images and sites of cats from a standard web search.  Once
        the term "cats" is added to the block list, Safari only page shows a
        blank screen.
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="{{ site.baseurl }}public/images/inaction.png" alt="">
          </div>
    </div>
    
  </div>
  <!-- /.container -->
  
</div>
<!-- /.content-section-a -->



<!-- /////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////// -->
<div class="content-section-b">
  
  <div class="container">
    
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <h2 class="section-heading">Custom Lists</h2>
        <p class="lead">
        
        Every family is different and only they can decide what content is
        appropriate for their household. You can customize Earmuffs to match
        your family's values through the use of a whitelist and blacklist.
        
        <ol>
          <li>Navigate to the appropriate list and tap the "+".</li>
          <li>Enter a term you either wish to block or allow.   You should try
            to be as specific as possible when adding or blocking terms.  You
            may accidently allow or block sites that you did not intend. For
            best results, do not enter any blank spaces or punctuation in your
            terms.</li>
          <li>The term will automatically be loaded into the blocker.</li>
          <li>You may edit both lists by swiping across the table cells to
            delete a term.</li>
        </ol>
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="{{ site.baseurl }}public/images/1.png" alt="">
          </div>
    </div>
    
  </div>
  <!-- /.container -->
  
</div>
<!-- /.content-section-b -->



<!-- /////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////// -->
<div class="content-section-a">
  
  <div class="container">
    
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <h2 class="section-heading">Enabling Safari Action Extensions</h2>
        <p class="lead">
        The simplest way to add a site to either the white or black list is
        through the Earmuffs Safari action extension.  Once enabled, you can add
        sites directly while browsing Safari.

        <ol>
          <li>In Safari, tap the share icon (square with arrow pointing up).</li>
          <li>By default, the Earmuffs extension will not be enabled.  Tap the
          "More" button to enable it.</li>
          <li>Identify the "Add to Earmuffs List" and toggle the switch to "On".
          The switch is "On" when the background is green.</li>
          <li>You may rearrange the order that the icons appear in the extension
            by reodering the table.</li>
        </ol>
        
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="{{ site.baseurl }}public/images/safari-action-1.png" alt="">
          </div>
    </div>
    
  </div>
  <!-- /.container -->
  
</div>
<!-- /.content-section-b -->





<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Using the Earmuffs Extension to Add to Custom Lists From Safari</h2>
        <p class="lead">
        <ol>
          <li>While browsing in Safari, when you come across a site you want to add to a
          list, tap the share icon (square with arrow pointing up).</li>
        <li>Tap the "Add to Earmuffs" icon.</li>
        <li>Tap either "Blacklist" or "Whitelist".</li>
        <li>The site will be added to the appropriate list and the page will be
          reloaded to reflect your selection.</li>
        <li>Remember that you can edit both lists directly from the Earmuffs application.</li>
          </ol>
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="{{ site.baseurl }}public/images/safari-action-2.png" alt="">
          </div>
    </div>
  </div>
</div>



<!--
<div class="content-section-a">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Using Earmuffs Safari Actions</h2>
        <p class="lead">
        Screen Time is a simple app that allows you to set limits on the amount
        of time you children use an iPhone or iPad. Set a time length, press
        start and pass it to you children. After the time expires, a series of
        notifications will prevent your children from using the device until
        you enter the correct passcode.
        
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="{{ site.baseurl }}public/images/safari-action-2.png" alt="">
          </div>
    </div>
    
  </div>
</div>
-->




    
    {% include footer.html %}
  </body>
</html>
